<div class="order-page container">
    <div class="order-header">   
        <p>#{{order.order_number}}</p>
    </div> 
    <div class="table-wrapper col-md-5">
        <table>
            <tr class="labels"> 
              <th>product name</th>
              <th>qty</th>
              <th>price</th>
            </tr>
            <tr class="order">
                {% for line_item in order.line_items %}
                    <td>{{line_item.title}}</td>
                    <td>{{line_item.quantity}}</td>
                    <td>{{order.subtotal_price | money}}</td>
                {% endfor %}
            </tr>
        </table>
        <div class="totals">
            <div class="order-subtotal col-md-12">
                <p class="col-md-5 col-md-push-4 text-align-right">subtotal</p>
                <p class="col-md-3 col-md-push-4 nopadding">{{order.subtotal_price | money}}</p>
            </div>
            <div class="shipping_handling col-md-12">
                <p class="col-md-5 col-md-push-4 text-align-right">shipping and handling</p>
                <p class="col-md-3 col-md-push-4 nopadding">{{order.shipping_price | money}}</p>
            </div>
            <div class="grand_total col-md-12">
                <p class="col-md-5 col-md-push-4 text-align-right">grand total</p>
                <p class="col-md-3 col-md-push-4 nopadding">{{order.total_price | money }}</p>
            </div>
        </div>
        <div class="shipping-address col-md-6">
                <p> {{order.shipping_address}}</p>
        </div>
        <div class="billing-address col-md-6">
                <p>{{order.billing_address}}</p>
        </div>
        <div class="payment-method col-md-6">
                {% for transaction in order.transactions %}
                <p>{{transaction.kind}}</p>
                <p>{{transaction.payment_details.credit_card_company}}</p>
                {% endfor %}
        </div>
        <div class="shipping-method col-md-6">
                {% for shipping in order.shipping_methods %}
                <p>{{shipping.title}}</p>
                {% endfor %}
        </div>
    </div>
</div>
