<div class="order-page container">
    <div class="order-header">   
        <p>#{{order.order_number}}</p>
    </div> 
    <div class="table-wrapper col-md-6">
        <table>
            <tr class="labels"> 
              <th>product name</th>
              <th>qty</th>
              <th>price</th>
            </tr>
            <tr class="order">
                {% for line_item in order.line_items %}
                    <td class="text-uppercase">{{line_item.title}}</td>
                    <td>{{line_item.quantity}}</td>
                    <td>{{order.subtotal_price | money}}</td>
                {% endfor %}
            </tr>
        </table>
        <div class="totals">
            <div class="order-subtotal col-xs-12 col-md-12">
                <p class="col-xs-9 col-md-5 col-md-push-4 text-align-right sm-text-align text-uppercase apercumedium">subtotal</p>
                <p class="col-xs-3 col-md-3 col-md-push-4 nopadding aperculight">{{order.subtotal_price | money}}</p>
            </div>
            <div class="shipping-handling col-xs-12 col-md-12">
                <p class=" col-xs-9 col-md-5 col-md-push-4 text-align-right sm-text-align text-uppercase apercumedium">shipping and handling</p>
                <p class="col-xs-3 col-md-3 col-md-push-4 nopadding aperculight">{{order.shipping_price | money}}</p>
            </div>
            <div class="grand-total col-md-12 col-xs-12">
                <p class="col-xs-9 col-md-5 col-md-push-4 text-align-right sm-text-align text-uppercase apercumedium">grand total</p>
                <p class="col-xs-3 col-md-3 col-md-push-4 nopadding aperculight">{{order.total_price | money }}</p>
            </div>
        </div>
        <div class="shipping-address col-md-6">
                <p class="apercumedium text-uppercase">shipping address</p>
                <p class="aperculight">{{order.shipping_address}}</p>
        </div>
        <div class="billing-address col-md-6">
                <p class="apercumedium text-uppercase">billing address</p>
                <p class="aperculight">{{order.billing_address}}</p>
        </div>
        <div class="payment-method col-md-6">
                <p class="apercumedium text-uppercase">payment method</p>
                {% for transaction in order.transactions %}
                    <p class="aperculight">Credit Card Type: {{transaction.payment_details.credit_card_company}}</p>
                    <p class="aperculight">Credit Card Number: {{transaction.payment_details.credit_card_number}}</p>
                {% endfor %}
        </div>
        <div class="shipping-method col-md-6">
                <p class="apercumedium text-uppercase">shipping method</p>
                {% for shipping in order.shipping_methods %}
                <p class="aperculight">{{shipping.title}}</p>
                {% endfor %}
                <p class="aperculight">Check shipping <a href="{{order.order_status_url}}">status</a></p>
        </div>
    </div>
    <div class="order-history-button text-align-center">
        <a href="/account">back to order history</a>
    </div>
</div>
