<!doctype html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{'bootstrap.min.css' | asset_url | stylesheet_tag }}
		{{'login-template.css' | asset_url | stylesheet_tag}}
		{{'header.css' | asset_url | stylesheet_tag}}
		{{'register-template.css' | asset_url | stylesheet_tag}}
		{{'cart-template.css' |asset_url|stylesheet_tag}}
		{{'fonts.css'|asset_url|stylesheet_tag}}
		{{content_for_header}}
		<style>
			body {
				{% if template == 'cart' %}
					background-color:#F4F4F4;
				{% else %}
					background-color:#E4E0DD;
				{%endif %}
				}
			}
		</style>
	</head>
	<body>
		{{content_for_layout}}
		
	</body>
</html>

