<!DOCTYPE HTML>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		{{'bootstrap.min.css' | asset_url | stylesheet_tag }}
		{{'login-template.css' | asset_url | stylesheet_tag}}
		{{'header.css' | asset_url | stylesheet_tag}}
		{{'register-template.css' | asset_url | stylesheet_tag}}
		{% if template == 'cart' %}
			{{'cart-template.css' |asset_url|stylesheet_tag}}
		{% endif %}
		{{'fonts.css'|asset_url|stylesheet_tag}}
		<script src="https://unpkg.com/vue"></script>
		{{content_for_header}}
		<style>
			body {
				{% if template == 'cart' %}
					background-color:#F4F4F4;
				{% else %}
					background-color:#E4E0DD;
				{%endif %}
				}
			}
		</style>
	</head>
	<body>
		{{content_for_layout}}
		{% section 'cartjs-scripts' %}
	</body>
</html>

