<!doctype html>

<html>
	<head>
		{{'header.css'|asset_url|stylesheet_tag}}
		{{'footer.css'|asset_url|stylesheet_tag}}
		{{'bootstrap.min.css' | asset_url | stylesheet_tag }}
		{{'featured-collection.css' | asset_url | stylesheet_tag}}
		{{'featured-collection-flipped.css' | asset_url| stylesheet_tag}}
		{{'divider.css' | asset_url | stylesheet_tag}}
		{{'about-homepage.css'|asset_url|stylesheet_tag}}
		{{'blog-homepage.css'|asset_url|stylesheet_tag}}
		{{'extra-description-homepage.css'|asset_url|stylesheet_tag}}
		{{'collection-template.css' | asset_url |stylesheet_tag}}
		{{'carousel.css'|asset_url|stylesheet_tag}}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		{{'bootstrap.min.js'| asset_url | script_tag}}
		
		{{content_for_header}}	
	</head>
	<body>
		{% section 'header' %}
		{{content_for_layout}}
		{% section 'footer'%}
	</body>
</html>

