<!doctype html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{'header-homepage.css' |asset_url |stylesheet_tag}}
		{{'header.css'|asset_url|stylesheet_tag}}
		{{'footer.css'|asset_url|stylesheet_tag}}
		{{'bootstrap.min.css' | asset_url | stylesheet_tag }}
		{{'full-image-homepage.css'|asset_url|stylesheet_tag}}
		{{'featured-collection.css' | asset_url | stylesheet_tag}}
		{{'featured-collection-flipped.css' | asset_url| stylesheet_tag}}
		{{'divider.css' | asset_url | stylesheet_tag}}
		{{'about-homepage.css'|asset_url|stylesheet_tag}}
		{{'blog-homepage.css'|asset_url|stylesheet_tag}}
		{{'extra-description-homepage.css'|asset_url|stylesheet_tag}}
		{{'collection-template.css' | asset_url |stylesheet_tag}}
		{{'carousel.css'|asset_url|stylesheet_tag}}
		{{'product-template.css' | asset_url | stylesheet_tag}}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		{{'bootstrap.min.js'| asset_url | script_tag}}
		{{'jquery.bcSwipe.min.js'|asset_url|script_tag}}
		<script src="https://unpkg.com/vue"></script>
		{{'blog-recent-and-categories-template.css' | asset_url | stylesheet_tag}}
		{{'blog-template.css' | asset_url| stylesheet_tag}}
		{{'about-page-template.css' | asset_url | stylesheet_tag}} 
		{{'shipping-and-return.css'|asset_url| stylesheet_tag}}
		{{'terms-and-conditions.css'|asset_url|stylesheet_tag}}
		{{'faq-template.css' | asset_url | stylesheet_tag}}
		{{'contact-template.css' | asset_url | stylesheet_tag}}
		{{'article-template.css'|asset_url|stylesheet_tag}}
		{{'fonts.css'|asset_url|stylesheet_tag}}
		{{'lookbook-template.css'|asset_url|stylesheet_tag}}
		{{'cart-drawer-template.css'|asset_url|stylesheet_tag}}
		{{'account-template.css'|asset_url|stylesheet_tag}}
		{{'register-template.css' | asset_url | stylesheet_tag}}
		{{content_for_header}}
		<style>
				body {
  						background-color:#E4E0DD;
				}
		</style>
	</head>
	<body>
		{% if template =='index' %}
			{% section 'cart-drawer-template' %}
			{% section 'header-homepage' %}
			{{content_for_layout}}
			{% section 'footer' %}
		{% else %}
			{% section 'cart-drawer-template' %}
			{% section 'header' %}
			{{content_for_layout}}
			{% section 'footer' %}
		{% endif %}
		<script>
			$('.carousel').bcSwipe({ threshold: 50 });
		</script>
		{% section 'cartjs-scripts' %}
	</body>
</html>

