{% schema %}
{
	"name": "About",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},
		{
			"type": "text",
			"id": "description",
			"label": "Description"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "Image for desktop"
		},
		{
			"type":"image_picker",
			"id":"image_mobile",
			"label":"Image for mobile"
		},
		{
			"type": "text",
			"id": "button_label",
			"label":"Button Label"
		},
		{
			"type": "text",
			"id": "button_link",
			"label":"Button Link"
		}
	],
	"presets": [
		{
			"name": "About",
			"category": "Image",
			"settings": {
				"title": "Title",
				"description": "Describe your company here.",
				"button_label":"about us",
				"button_link":"/pages/about-us"
			}

		}
	]
}
{% endschema %}

<div class="about-homepage container">
	<div class="about row">
		<div class="description col-md-6 col-xs-12">
			<p class="text col-xs-12 col-md-10">
				<span class="title"><b>{{section.settings.title}}</b></span>
				<span>{{section.settings.description}}</span>
				<a href="{{section.settings.button_link}}" class="feature-collection-button">{{ section.settings.button_label }}</a>
			</p>
		</div>
		<div class="about-image col-md-6 col-xs-12">
			<img class="desktop-image" src="{{section.settings.image | img_url:'master'}}">
			<img class="mobile-image" src="{{section.settings.image_mobile | img_url:'master'}}">
		</div>
	</div>
</div>
