{% schema %}
	{
		"name":"Blog Carousel",
		"blocks": [
			{
				"type":"blog",
				"name":"Blog Post",
				"settings": [
				
					{
						"type":"blog",
						"id":"blog",
						"label":"Pick a blog"
					},
					{
						"type":"article",
						"id":"article",
						"label":"Pick an article"
					}
				]	
			}
		]
	}
{% endschema %}	

<div class="container recent-posts">
	<div class="mobile-posts-header col-xs-12">
		<p> blog </p>
	</div>
	<div class="desktop-posts-header col-md-12">
		<p> recent post </p>
	</div>
	<div id="desktop-blog-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
		<ol class="carousel-indicators">
			{% assign indicator_counter = section.blocks.size | modulo: 2%}
			{% if indicator_counter > 0 %}
				{% assign indicator_counter = section.blocks.size | divided_by: 2 | plus: 1 %}
			{% else %}
				{% assign indicator_counter = section.blocks.size | divided_by: 2 %}
			{% endif %}
			
			{% assign indicator_number = 0 %}
			{% for block in section.blocks %}
				{% if forloop.first %}
					<li class="active" data-target="#desktop-blog-carousel" data-slide-to="0"></li>
					{% assign indicator_number = indicator_number | plus: 1 %}
				{% else %}
					<li data-target="#desktop-blog-carousel" data-slide-to="{{forloop.index | minus: 1}}"></li>
					{% assign indicator_number = indicator_number | plus: 1 %}
				{% endif %}
				{% if forloop.index == indicator_counter %}
					{% break %}
				{% endif %}
			{% endfor %}
		</ol>
		<div class="carousel-inner">
			{% assign counter = 0 %}	
			{% for block in section.blocks %}
			{% if counter == section.blocks.size %}
				{% break %}
			{%endif%}
			{% if forloop.first %}
				<div class="item active">
			{% else %}
				<div class="item">
			{%endif%}
					{% for j in (0..1) %}
						{% assign blog = blogs[section.blocks[counter].settings.blog] %}
						{% assign article = articles[section.blocks[counter].settings.article] %}
						{% assign counter = counter | plus:1 %}
						<div class="item-image col-md-6">
							<a href="{{article.url}}">
								<img src="{{article.image | img_url:'master'}}">
							</a>
							<p class="item-text">
								<span class="article-date">{{article.published_at | date: "%m-%d-%y"}} |</span>
								<span class="blog-title"> {{blog.title}} </span>
								<a href="{{article.url}}"><span class="article-title">{{article.title}} </span></a>
								<span class="article-excerpt"> {{article.excerpt}} </span>
							</p>
							<span class="article-link col-md-12"><a href="{{article.url}}">read more</a></span>
						</div>
						{% if counter == section.blocks.size %}
							{% break %}
						{%endif%}
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>
	<div id="mobile-blog-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
				
		<div class="carousel-inner">
			{% for block in section.blocks %}
				{% assign article = articles[block.settings.article] %}
				{% assign blog = blogs[block.settings.blog] %}
				{% if forloop.first == true %}
					<div class="item active col-xs-12">
						<div class="item-image col-xs-12">
							<img src="{{article.image|img_url:'master'}}">
						</div>
						<p class="item-text col-xs-12">
							<span class="article-date">{{article.published_at | date: "%m-%d-%y"}} |</span>
							<span class="blog-title"> {{blog.title}} </span>
							<a href="{{article.url}}"><span class="article-title">{{article.title}} </span></a>
							<span class="article-excerpt"> {{article.excerpt}} </span>
							<span class="link"><a href="{{article.url}}">read more</a></span>
						</p>
					</div>
				{% else %}
					<div class="item col-xs-12">
						<div class="item-image col-xs-12">
							<img src="{{article.image|img_url:'master'}}">
						</div>
						<p class="item-text col-xs-12">
							<span class="article-date">{{article.published_at | date: "%m-%d-%y"}} |</span>
							<span class="blog-title"> {{blog.title}} </span>
							<a href="{{article.url}}"><span class="article-title">{{article.title}} </span></a>
							<span class="article-excerpt"> {{article.excerpt}} </span>
							<span class="link"><a href="{{article.url}}">read more</a></span>
						</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<ol class="carousel-indicators">
			{% for block in section.blocks %}
				{% if forloop.first %}
					<li data-target="#mobile-blog-carousel" data-slide-to="0" class="active"></li>
				{% else %}
					<li data-target="#mobile-blog-carousel" data-slide-to="{{forloop.index | minus: 1}}"></li>
				{% endif %}
			{% endfor %}
		</ol>
	</div>
</div>
<div class="container categories full-width">
	<div class="category row">
		<div class="category-header col-xs-12">
			<p> category </p>
		</div>
		<a href="west-east"><div class="category-image col-xs-12 col-md-6">
			<img src="https://cdn.shopify.com/s/files/1/2176/2625/files/west_n_east.jpg?15529995236274571147">
			<p> east & west </p>
		</div></a>
		<a href="from-tree-to-table"><div class="category-image col-xs-12 col-md-6">
			<img src="https://cdn.shopify.com/s/files/1/2176/2625/files/FromTreetoTable.jpg?15529995236274571147">
			<p> from tree to table </p>
		</div></a>
		<a href="events"><div class="category-image col-xs-12 col-md-6">
			<img src="https://cdn.shopify.com/s/files/1/2176/2625/files/Events.jpg?15529995236274571147">
			<p> events </p>
		</div></a>
		<a href="tips"><div class="category-image col-xs-12 col-md-6">
			<img src="https://cdn.shopify.com/s/files/1/2176/2625/files/Tips.jpg?15529995236274571147">
			<p> tips </p>
		</div></a>
	</div>
</div>
						

				


