<div class="collection-page container">
	<div class="product row">
		{% for product in collection.products %}
			<div class="product-wrapper col-xs-12 col-sm-6 col-md-4">
				<a class="product-link" href="/products/{{product.handle}}">
					<div class="product-image">
						 <img src="{{ product | img_url: 'master' }}">
					</div>
					<div class="product-text nopadding col-xs-8 col-md-8"> 
						<span class="title">{{product.title}}</span>
						<span class="price">${{product.price | remove_first: '00'}}</span>
					</div>
				</a>
				{% if product.variants.size > 1 %}
					<div class="variant-color-wrap col-xs-3 col-md-4">
					{% assign num_variants = product.variants.size %}
					{% assign start_index = product.images.size %}
					{% assign start_index = start_index | minus: num_variants | plus: 1 %}
					{% assign variant_counter = 1 %}
					{% for variant_image in product.images %}	
						{% if forloop.index < start_index %}
							{% continue %}
						{% else %}
							{% for variant_id in product.variants %}
								{% if forloop.index == variant_counter %}
									<div class="variant-color">
						   				<a href="{{variant_id.url}}"><img src="{{variant_image|img_url:'master'}}"></a>
						   			</div>
									{% assign variant_counter = variant_counter | plus: 1 %}
									{% break %}
								{% else %}
									{% continue %}								   				
					   			{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
</div>
