{% include 'color-variables' %}

<div class="container product-page-container nopadding">
	<div class="carousel-description-wrapper row">
		<div class="mobile-carousel">
			<div id="product-page-mobile-carousel" class="carousel slide product-showcase col-xs-12" data-ride="carousel" data-interval="false">

			<!-- Indicators --> 
				<ol class="carousel-indicators">
					{% assign indicator_counter = 0 %}
					{% for image in product.images %}
						{% if indicator_counter == 0 %}
							<li data-target="#product-page-mobile-carousel" data-slide-to="{{indicator_counter}}" class="active"></li>
							{% assign indicator_counter = indicator_counter | plus: 1 %}
						{% else %}
							<li data-target="#product-page-mobile-carousel" data-slide-to="{{indicator_counter}}"></li>
							{% assign indicator_counter = indicator_counter | plus: 1 %}
						{% endif %}
					{% endfor %}
				</ol>

			<!-- Wrapper for slides -->
				<div class="carousel-inner">
					{% assign slide_counter = 0 %}
					{% for image in product.images %}
						{% if slide_counter == 0 %}
							<div class="item active">
								<img src="{{image | img_url: 'master'}}">
							</div>
							{% assign slide_counter = slide_counter | plus: 1 %}
						{% else %}
							<div class="item">
								<img src="{{image | img_url: 'master'}}">
							</div>
							{% assign slide_counter = slide_counter | plus: 1 %}
						{% endif %}
					{% endfor %}
				</div>
				<a class="left carousel-control" href="#product-page-mobile-carousel" data-slide="prev">
	    			<span class="left-arrow"></span>
	    			<span class="sr-only">Previous</span>
	 			</a>
	  			<a class="right carousel-control" href="#product-page-mobile-carousel" data-slide="next">
	    			<span class="right-arrow"></span>
	    			<span class="sr-only">Next</span>
	  			</a>
			</div>
		</div>
		<div class="desktop-carousel">
			<div id="product-page-desktop-carousel" class="carousel slide carousel-fade col-md-7" data-ride="carousel" data-interval="false">
				<ol class="carousel-indicators">
				{% assign indicator_counter = 0 %}
				{% for image in product.images %}
					{% if forloop.last %}
						{% break %}
					{% endif %}
					{% if indicator_counter == 0 %}
						<li data-target="#product-page-desktop-carousel" data-slide-to="{{indicator_counter}}" class="active">
							<img src="{{ image | img_url: 'small'}}">
						</li>
						{% assign indicator_counter = indicator_counter | plus: 1%}
					{% else %}
						<li data-target="#product-page-desktop-carousel" data-slide-to="{{indicator_counter}}">
							<img src="{{ image | img_url: 'small'}}">
						</li>
						{% assign indicator_counter = indicator_counter | plus: 1 %}
					{%endif%}
				{%endfor%}
				</ol>
				<div class="carousel-inner-wrap col-md-10">
					<div class="carousel-inner">
						{%assign slide_counter = 0%}
						{%for image in product.images%}
							{% if forloop.last %}
								{% break %}
							{% endif %}
							{% if slide_counter == 0 %}
								<div class="item active">
									<img src="{{image | img_url: 'master'}}">
								</div>
								{%assign slide_counter = slide_counter | plus: 1%}
							{% else %}
								<div class="item">
									<img src="{{image | img_url: 'master'}}">
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="text col-xs-12 col-md-5">
			<div class="product-header">
				<span class="title">{{product.title}}</span>
				<span class="price">$ {{product.price | remove_first:'00'}}</span>
			</div>
			{% if product.available %}
			<div class="addtocart-button-mobile nopadding col-xs-12">
				<form></form>
				<form id="AddToCartForm" action="/cart/add" method="post">
					{% if product.has_only_default_variant %}
						{% assign variant = product.variants.first %}
						<input type="hidden" name="id" value="{{variant.id}}">
					{% else %}
						{% assign input_counter = 0 %}
					  	{% for variant in product.variants %}
					  		{% if input_counter == 0 %}				  		
						   		<input type="radio" name="id" id="ash" value="{{variant.id}}" {% if variant == product.selected_or_first_available_variant %} checked {% endif %}/>
						   		<label for="ash" class="ash-label col-xs-6">
									<div class="ash-description">
						   				<p>{{variant.option1}}, {{variant.option2}}</p>
						   			</div>
						   		</label>
					  			{% assign input_counter = input_counter | plus: 1 %}
					  		{% else %}
					  			<input type="radio" name="id" id="walnut" value="{{variant.id}}" {% if variant == product.selected_or_first_available_variant %} checked {% endif %}/>
								<label for="walnut" class="walnut-label col-xs-6">
									<div class="walnut-description">
										<p>{{variant.option1}}, {{variant.option2}}</p>
									</div>
								</label>
					  		{%endif%}
					  	{% endfor %}
					{% endif %}
					<div class="submit-button">
						<input type="submit" value="ADD TO CART">
					</div>
				</form>
			</div>
			{% endif %}
			<div class="product-description nopadding col-xs-12">
				<span>{{product.description}}</span>
			</div>
			{% if product.available %}

			<div class="addtocart-button-desktop nopadding col-md-12">
				<form id="AddToCartForm" action="/cart/add" method="post" data-cart-submit>
					{% if product.has_only_default_variant %}
						{% assign variant = product.variants.first %}
						<input type="hidden" name="id" value="{{variant.id}}">
					{% else %}
						{% assign input_counter = 0 %}
					  	{% for variant in product.variants %}
					  		{% if input_counter == 0 %}				  		
						   		<input type="radio" name="id" id="ash-desktop" value="{{variant.id}}" {% if variant == product.selected_or_first_available_variant %} checked {% endif %}/>
						   		<label for="ash-desktop" class="ash-label">
						   			<img src="{{variant.image|img_url:'master'}}">
									<div class="ash-description">
						   				<p>{{variant.title}}</p>
						   			</div>
						   		</label>
					  			{% assign input_counter = input_counter | plus: 1 %}
					  		{% else %}
					  			<input type="radio" name="id" id="walnut-desktop" value="{{variant.id}}" {% if variant == product.selected_or_first_available_variant %} checked {% endif %}/>
								<label for="walnut-desktop" class="walnut-label">
									<div class="walnut-description">
										<p>{{variant.option1}}, {{variant.option2}}</p>
									</div>
								</label>
					  		{%endif%}
					  	{% endfor %}
					{% endif %}
					<input id="add-to-cart-product" type="submit" value="ADD TO CART">
				</form>
			</div>

			{% else %}
			<div class="col-12-xs out-of-stock">Product currently out of stock.</div>
			{% endif %}
			{% comment %} <div class="social-media col-md-12">
				<div class="product-media-links col-xs-12">
					<a href="#"><img src="https://cdn.shopify.com/s/files/1/2176/2625/files/Instagram_1.png?9899784183095026280"></a>
					<a href="#"><img src="https://cdn.shopify.com/s/files/1/2176/2625/files/Facebook_2.png?9899784183095026280"></a>
					<a href="#"><img src="https://cdn.shopify.com/s/files/1/2176/2625/files/Pinterest_1.png?9899784183095026280"></a>
					<a href="#"><img src="https://cdn.shopify.com/s/files/1/2176/2625/files/Twitter_1.png?9899784183095026280"></a>
				</div>
			</div> {% endcomment %}
		</div>
	</div>
	<div class="product-showcase row">
		<div class="showcase-image col-xs-12 col-md-10 col-md-push-1">
			<div class="image-wrapper">
				<img src="{{product.images.last | img_url: 'master'}}">
			</div>
		</div>
	</div>
	<div class="divider-row row">
		<div class="divider-wrap col-md-12">
			<div class="divider divider-product-page col-md-12"></div>
		</div>
	</div>
	<div class="alternate-products row">
		<div class="alt-products-header">
			<p> you might also like </p>
		</div>
		<div class="alt-products-images col-xs-12">
			{% assign product_counter = 0 %}
			{% assign collection = product.collections.first %}
			{% for product in collection.products %}
				<div class="alt-image-description image-{{product_counter}} col-xs-6 col-md-4">
					<a class="alt-product-link" href="{{product.url}}">
						<img src="{{product | img_url:'master'}}">
						<span class="alt-product-name">{{product.title}}</span>
						<span class="alt-product-price">${{product.price | remove_first:'00' | append: '.00'}}</span>
					</a>
				</div>
				{% assign product_counter = product_counter | plus: 1 %}
				{% if product_counter == 3 %}
					{% break %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>

